body{
    background-color: rgba(255, 228, 196, 0.226);
}
.my_form{
    width: 100%;
    height: 100%;
    padding-top: 90px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}
.main_form{
    background-color: rgb(255, 255, 255);
    margin: 5% auto 15% auto;
    border: 1px solid black;
    width: 50%;
    border-radius: 9px;
}
input[type=text],input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 9px;
}
.container{    
    padding: 50px;
    padding-top: 60px;
    width: 600px;
    height: 300px;
}
label{
    font-size: 20px;
}
select{
    padding: 10px;
    font-size: 15px;
    width: 50%;
    border-radius: 9px;
}

button{
    background-color: aquamarine;
    color: black;
    padding: 14px 20px;
    margin-top: 20px;
    border-radius: 9px;
    
}
button:hover{
    background-color: rgba(255, 0, 0, 0.63);
    color: white;
}